.mainHomeBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainPost{
    justify-content: space-between;
    gap: 0;
}
.HomeItemImg, .storyitemImg{
    width: 100%;
}
.HomeItemImg img{
    border-radius: 0;
}
.stories{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}
.story{
    width: 60px !important;
    height: 60px !important;
}
.story>p{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-weight: 300;
    font-size: 12px;
    color: #666;
}