.posts{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 950px;
}
.posts-icon-line{
    display: flex;
    justify-content: center;
}
.posts-icon-line::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    border-top: 1px solid #000;
}
.posts-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.posts-icon h3{
    font-size: 14px;
    font-weight: 500;
}

.posts-img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.posts-img img{
    margin-top: 20px;
    width: calc(33.33% - 10px);
    height: 293px;
}