.profile{
    /* margin: 60px 0; */
}
.userInfo, .username, .contentAbout, .highlights{
    display: flex;
    align-items: center;
}
.userAbout, .bio{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userInfo{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 50px;
}

.userAvatar{
    width: 150px;
    height: 150px;
}
.userAvatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.username h3{
    margin-right: 15px;
}
.username button{
    margin-right: 10px;
}
.addUser-btn{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addUser-btn img{
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
}
.more-btn .circle-more{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
}


.contentAbout{
    gap: 30px;
}


.highlights{
    gap: 20px;
    margin: 0 30% 50px;
}

.highlights .highlight{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid rgb(115, 115, 115) ;
    padding: 5px;
}
.highlights .highlight img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.highlights .highlight p{
    margin-top: 8px;
}
