.button{
    height: 30px;
    border-radius: 8px;
    padding: 0 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.button-primary{
    background-color: rgb( 0, 149, 246);
    opacity: .7;
    color: #fff;
    font-weight: 700;
}