.modalBackground, .removeModal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.modal-btn{
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: transparent;
    z-index: 1;
}

.modalContainer, .removeBtns{
    width: 600px;
    height: 600px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.title{
    border-bottom: 1px solid rgb(115, 115, 115);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContainer .title2{
    justify-content: space-between;
}
.modalContainer .title h2{
    font-size: 18px;
    font-weight: 600;
}
.title3{
    justify-content: space-between;
    padding: 5px;
}
.title3 h2{
    font-weight: 500;
    margin-left: 150px;
}
.title3 .closeModal{
    background-color: transparent;
    display: flex;
    align-items: center;
}
.modalContainer .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 20px;
}

.select-btn{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: .3s;
}
.select-btn:hover{
    background-color: rgb(24, 119, 242);
}
.modalContainer .body input{
    position: absolute;
    opacity: 0;
    inset: 0;
    z-index: 1;
    cursor: pointer;
    width: 100%;
}

/* second */
.uploadPost{
    width: 900px;
}

.uploadPost .block, .detailPost .block{
    display: flex;
    width: 100%;
    height: 540px;
    align-items: center;
}


.back-btn, .share-btn{
    background-color: transparent;
}
.share-btn{
    font-size: 18px;
    font-weight: 500;
    color: rgb(24, 119, 242);
}

.block-item-img, .block-item-author{
    height: 100%;
}
.block-item-img{
    position: relative;
    width: 65%;
}
.block-item-img img{
    object-fit: cover;
    border-radius: 0 0 0 12px;
}    
.block-item-author{
    width: 60%;
    padding: 20px 15px;
}

.block-item-author .author{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
    border: none;
}
.block-item-author .author h3{
    font-size: 14px;
    font-weight: 500;
}
.modalAvatar{
    width: 35px !important;
    height: 35px !important;
}

.emoji, .comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.emoji-img{
    width: 30px;
    height: 30px;
}


/* third */
.detailPost{
    width: 70vw;
    height: 90vh;
}
.detailPost .block{
    width: 100%;
    height: 100%;
}
.detailPost .block-item-img{
    width: 55%;
}
.detailPost .block-item-author{
    width: 45%;
    padding: 0;
}
.detailPost .block-item-img img{
    border-radius: 12px 0 0 12px;
} 
.detailPost  .author{
    padding: 10px;
    border-bottom: 1px solid rgba(115, 115, 115, .3);
}
.author h3, p{
    font-size: 14px;
}
.author h3{
    font-weight: 500;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.postHeader{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.postHeader > h3, .postHeader > p{
    color: #000;
}

.detailPost .block-item-author .author{
    display: flex;
    justify-content: space-between;
}


.comments{
    height: 350px;
    overflow-y: scroll;
    padding: 10px;    
}
.comments::-webkit-scrollbar {
    display: none;
}
.addComment{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.addCommentInput{
    height: 30px;
    border: none;
}
.postCommentBtn, .postCommentBtnWithoutColor{
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #0095f6;
}
.postCommentBtnWithoutColor{
    opacity: .5;
}

/* NO COMMENTS */
.noComments{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.noComments>h3{
    font-size: 25px;
    font-weight: 500;
}
.noComments>p{
    font-size: 14px;
    font-weight: 300;
}

/* COMMENT STATUS */
.commentStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.commentStatus h3, p{
    font-size: 14px;
}
.commentStatus span{
    font-size: 12px;
    color: rgb(115, 115, 115);
}
.commentStatus .reply{
    font-weight: 500;
}
.commentStatus .userAndCom, .commentStatus .statsOfCom{
    display: flex;
    align-items: center;
    gap: 5px;
}
.commentStatus .statsOfCom{
    gap: 8px;
}

/* REMOVE COMMENT */
.comment:hover .removeCom{
    display: flex !important;
    padding: 0 !important;
}
.removeCom{
    display: none !important;
    padding: 0;
}
.removeCom >.circle-more{
    width: 3px !important;
    height: 3px !important;
    background-color: rgb(115, 115, 115) !important;
}
/* BOOST BLOG */
.boostBlog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .5px solid rgba(115, 115, 115, .3);
    border-bottom: .5px solid rgba(115, 115, 115, .3);
    padding: 10px;
}
.boostBlog>h3{
    color: #0095f6;
}
.boostBlog>button{
    opacity: 1;
}

/*SOCIAL INTERACTION*/
.socialInteraction{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
    border-bottom: .5px solid rgba(115, 115, 115, .3);
}
.socialFunc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socialFuncLeft{
    display: flex;
    gap: 10px;
}
.socialFuncIcon{
    width: 22px;
    height: 22px;
}
.postDay{
    font-size: 12px;
    color: rgb(115, 115, 115);
}
/* LIKED BY */
.likedBy{
    display: flex;
    align-items: center;
}
.likedBy .usersLiked{
    font-size: 14px;
    font-weight: 300;
}
.likedBy .usersLiked>b{
    font-weight: 500;
}
.likedByAvatar{
    width: 22px;
    height: 22px;
}






/* REMOVE MODAL */
.removeBtns, .settingBtns, .withoutUserSettingBtns{
    position: absolute;
    width: 400px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.removeBtn, .settingBtn{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #ED4956;
    border-bottom: 1px solid #dcdcdc;
}
.removeBtn:last-child{
    font-weight: 300;
    color: #000;
}

/* setting Modal */
.settingBtns{
    height: 500px;
}
.withoutUserSettingBtns{
    height: 400px;
}
.settingBtn{
    font-weight: 300 ;
    color: #000;
}
.settingBtn:first-child{
    font-weight: 700;
    color: #ED4956;
}

/* edit Post */
.trashBtn{
    position: absolute;
    width: 30px;
    border-radius: 50%;
    padding: 0;
    top: 5px;
}

.editUploadImg{
    width: 65%;
}