.navbar{
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-right: .5px solid  #DCDCDC;
    padding: 20px 15px;
    background-color: #fff;
}
.logo{
    width: 60%;
    padding: 0 5px;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.navbar ul:last-child{
    margin-top: 40px;
}
.navbar ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px 7px;
    transition: .3s;
}
.navbar ul:first-child li:last-child{
    padding: 0;
}
.navbar ul li:hover{
    background-color: rgba(0, 0, 0, .1);
}
.navbar ul li:hover .navIcon{
    transform: scale(1.2);
    transition: .5s;
}
.navIcon{
    width: 22px;
    height: 22px;
}
.navProfile{
    width: 30px;
    height: 30px;
}
.navProfile>img{
    border-radius: 50%;
}

/* Suggest navbar */
.suggestNav{
    width: 20%;
    position: absolute;
    right: 20px;
    left: unset;
    padding: 5px 0;
    margin-top: 3px;
    margin-right: 60px;
    border: none;
}
.switchBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switchBlock>button{
    font-size: 14px;
    font-weight: 500;
    color: #1FA2F7;
}
.switchBlock>button:hover{
    color: #103E5C;
}
.switchItem{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 45px;
    height: 45px;
}
.switchItem>p{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}