.navModalContainer{
    position: absolute;
    bottom: 200px;
    left: 20px;
    width: 245px;
    height: 300px;
    background-color: #dcdcdc;
    z-index: 4;
    -webkit-box-shadow: 1px 0px 11px 3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 1px 0px 11px 3px rgba(0, 0, 0, 0.19);
    box-shadow: 1px 0px 11px 3px rgba(0, 0, 0, 0.19);
    gap: 5px;
}
.partOne, .partTwo{
    width: 100%;
    background-color: #fff;
    padding: 5px;
    align-items: center;
}
.partOne{
    border-radius: 12px 12px 0 0;
}
.partTwo{
    border-radius: 0 0 12px 12px;
    box-shadow: 1px 0px 11px 3px rgba(0, 0, 0, 0.19);
}
.navModalContainer ul{
    margin: 0 !important;
}
.navModalContainer ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 7px !important;
}

.icon{
    width: 18px;
    height: 18px;
}
