/* Stories */
.storyBack{
    background-color: rgba(0, 0, 0, .85);
}
.storyitemImg{
    position: relative;
}
.storyitemImg img{
    border-radius: 12px;
}
.storyHeader{
    position:absolute;
    top: 30px;
    z-index: 2;
    width: 90%;
    gap: 0 !important;
    justify-content: space-between !important;
}
.storyHeader h3, .storyHeader p{
    color: #fff;
}
.storyModalItem{
    width: 30%;
    position: relative;
}
.modalIcon{
    display: flex;
    gap: 15px;
    align-items: center;
}
.modalIcon button{
    padding: 0;
}
.modalIcon button .circle-more{
    background-color: #fff;
}

.replyStory{
    position: absolute;
    width: 90%;
    justify-content: space-between;
    bottom: 20px;
    gap: 20px;
    z-index: 2;
}
.replyStoryInput{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 22px;
}
.replyStoryInput::placeholder{
    color: #fff;
}